<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <h1>Comments#index</h1>
        <p>Find me in app/views/comments/index.html.erb</p>

        <ul>
            <% @comments.each do |comment| %>
                <li>
                    <h3><%= link_to comment.content, {controller: "issues", 
                                                    action: "show",
                                                    id: comment.issue_id} %></h3>
                </li>
            <% end %>
        </ul>
    </body>
</html>