<h1>Issues#index</h1>
<p>Find me in app/views/issues/index.html.erb</p>

<ul>
    <% @issues.each do |issue| %>
        <li>
            <h2> Summary: <%= issue.summary  %> </h2>
            <p> Description: <%= issue.description  %> </p>
            <h3> Status: <%= issue.status  %> </h3>
            <h4> Comments: </h4>
                <% if @comments == nil %>
                    <% @comments = ["There are no comments"] %>
                <% end %>
                <% @comments.each do |comment| %>
                    <li>
                        <%= comment %>
                    </li>
                <% end %>
        </li>
    <% end %>
</ul>