<h1>Issues#index</h1>
<p>Find me in app/views/issues/index.html.erb</p>

<ul>
    <% @issues.each do |issue| %>
        <li>
            <h2> Summary: <%= issue.summary  %> </h2>
            <p> Description: <%= issue.description  %> </p>
            <h3> Status: <%= issue.status  %> </h3>
            <h4> Comments: </h4>
                <% @comments.each do |comment| %>
                    <li>

                    </li>
        </li>
    <% end %>
</ul>