<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">
            <h3><%= @issue.summary%></h3>
            <h4><%= @issue.description%><h4>
            <h5><%= @issue.status%></h5>
        </div>
    </body>
</html>