<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>
        <%= render "shared/menu" %>

        <h1 class="centered"> Users: </h1>

        <ul>
            <% @users.each do |user| %>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <h2> Username: <%= link_to user.username, user_path(user)  %> </h2>
                            <% if user.role == "project_manager"%>
                                <h3> Status: Project Manager </h3>
                            <% elsif  user.role == "developer"%>
                                <h3> Status: Developer </h3>
                            <% else #we assume user is an end user%> 
                                <h3> Status: End User </h3>
                            <% end %>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
        <div class="centered">
            <h1>users#index</h1>
            <p>Find me in app/views/users/index.html.erb</p>
        </div>
    <body>
</html>