<%= render "shared/menu" %>

<h1> Users: </h1>
<h1>users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<ul>
    <% @users.each do |user| %>
        <li>
            <div class="card">
                <div class="card-body">
                    <h2> Summary: <%= user.username  %> </h2>
                    <h3> Status: <%= user.role  %> </h3>
                </div>
            </div>
        </li>
    <% end %>
</ul>