<nav>
    <ul>
        <li><a href="index.html.erb"</a>Home</li>
        <li><%= link_to "Issues", "/issues" %></li>
        <li><a href=""</a>Projects</li>
        <li><a href=""</a>About</li>
        <li><a href=""</a>Log Out</li>
    </ul>
</nav>