<nav>
    <ul>
        <li><a href="index.html.erb"</a>Home</li>
        <li><%= link_to "Issues", "/issues" %></li>
        <li><%= link_to "Projects", "/projects" %></li>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Log Out", "/log_out" %></li>
    </ul>
</nav>