<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">

        <% if @user == nil %>
        <p><%= link_to "Login", new_user_session_path %> </p>
        <% elsif @user.role.downcase == "project_manager"%>
            <h2>Project Manager Dashboard </h2>
        <% elsif @user.role.downcase == "developer" %>
            <h2> Developer Dashboard </h2>
        <% elsif user_signed_in %>
            <h2> End user dashboard </h2>
        <% end %>
        <div class="bottom"><p>Home#index</p>
        <p>Find me in app/views/home/index.html.erb</p></div>
    </body>
</html>
