<%# <h1>Abouts#index</h1> %>
<%# <p>Find me in app/views/abouts/index.html.erb</p> %>

<%= render "shared/menu" %>

<div id="about">
    <div class="card">
        <div class="card-body">
            <h1 id="About-header">What is an Issue Tracker?</h1>
            <p id="About-text">Issue Tracker keeps track of issues for a given project. It allows end users to create issues, developers to create, respond, and update issues, 
            and project managers to do all of the above as well as assign developers to certain issues. Issue tracking allows projects to be broken up into
            manageable pieces. It tracks project completion.</p>
        </div>
    </div>
</div>
