/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
    text-align: center;
}

 nav li {
     display: inline;
     font-size: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }

 .centered {
    text-align: center;
 }

 .centered-div {
     margin: auto;
     width: 50%;
 }

 .underlined {
     text-decoration: underline;
 }

 /* .border-box {
     outline: 1px solid black;
 } */

 ul {
    list-style-type: none;
 }

 .bold {
     font-weight: bold;
 }

 
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.underlined {
    text-decoration: underline;
}

.card {
    width: 80%;
    color: rgb(23, 98, 133);
    background-color:rgb(236, 189, 181)
}

.red {
    color: red;
}

.green {
    color: green;
}

body {
    /* light grey blue */
    background-color: rgb(85, 127, 190);
}

a {
    /* dark red */
    color: #4b0c0c;
  }
  a:visited {
    color: rgb(0, 0, 0);
  }
  a:hover, a:active, a:focus {
    color:#c33;
  }

/* #user-info {
    text-align: right;
} */

#menu > li:last-child {
    float: right;
}